<div class="backdrop is-hidden" data-modal id="modal-buy">
  <div class="modal modal-buy__window">
    <button type="button" class="modal__close" data-modal-close>
      <svg class="close-logo" width="11" height="11">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal__title">Замовити зараз</h2>

    <form name="modal-buy" class="modal-buy__form">
      <div class="modal-buy__products">
        <label for="icecream" class="modal-buy__label">
          <input
            type="checkbox"
            id="icecream"
            value="agree"
            name="icecream"
            class="modal-buy__checkbox"
          />

          <span class="modal-buy__item">
            <span class="modal-buy__ellipse"> </span>
            <span class="modal-buy__png">
              <img
                srcset="
                  ./images/bay_now_modal/buy_now1_mob_@1.png 132w,
                  ./images/bay_now_modal/buy_now1_mob_@2.png 264w
                "
                src="./images/bay_now_modal/buy_now1_mob_@1.png"
                sizes="100vw"
                alt="icecream"
                width="132"
              />
            </span>
            <span class="modal-buy__product">INSTAGRAM</span>
          </span>
        </label>
        <label for="icecoffee" class="modal-buy__label">
          <input
            type="checkbox"
            id="icecoffee"
            value="agree"
            name="icecoffee"
            class="modal-buy__checkbox"
          />

          <span class="modal-buy__item modal-buy__item--coffee">
            <span class="modal-buy__ellipse modal-buy__ellipse--coffee"> </span>
            <span class="modal-buy__png">
              <img
                srcset="
                  ./images/bay_now_modal/buy_now2_mob_@1.png 132w,
                  ./images/bay_now_modal/buy_now2_mob_@2.png 264w
                "
                src="./images/bay_now_modal/buy_now2_mob_@1.png"
                sizes="100vw"
                alt="icekoffee"
                width="132"
              />
            </span>
            <span class="modal-buy__product">FACEBOOK</span>
          </span>
        </label>
        <label for="milkshake" class="modal-buy__label">
          <input
            type="checkbox"
            id="milkshake"
            value="agree"
            name="milkshake"
            class="modal-buy__checkbox"
          />

          <span class="modal-buy__item modal-buy__item--milkshake">
            <span class="modal-buy__ellipse modal-buy__ellipse--milkshake">
            </span>
            <span class="modal-buy__png">
              <img
                srcset="
                  ./images/bay_now_modal/buy_now3_mob_@1.png 132w,
                  ./images/bay_now_modal/buy_now3_mob_@2.png 264w
                "
                src="./images/bay_now_modal/buy_now3_mob_@1.png"
                sizes="100vw"
                alt="milkshake"
                width="132"
              />
            </span>
            <span class="modal-buy__product">TIK TOK</span>
          </span>
        </label>
      </div>
    </form>
    <h4>Для замовлення послуг оберіть зручну для вас соціальну мережу</h4>
    <ul class="product-modal__list">
        <li class="join__item">
            <a
              class="join__link"
              href="https://t.me/maksdoboni"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="join__icon" width="34" height="34">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="join-instagram__item">
            <a
              class="join-instagram__link"
              href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="join-instagram__icon" width="34" height="34">
                <use href="./images//sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
    </ul>
  </div>
</div>
