<footer class="footer">
  <div class="container container--footer">
    <div class="thumb">
      <p class="footer__title">Виконуємо ваші замовлення</p>
      <p class="footer__subject">З турбо-швидкістю</p>
    </div>
    <div class="thumb--contact">
 
      <div class="footer-contact">
        <p class="footer-contact__text">Обирайте мережу в якій зручно зробити замовлення</p>
        <!-- <a class="footer-contact__tel" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        > -->
      </div>
      <div class="join">
        <ul class="join__list">
          <li class="join__item">
            <a
              class="join__link"
              href="https://t.me/maksdoboni"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="join__icon" width="34" height="34">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="join-instagram__item">
            <a
              class="join-instagram__link"
              href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="join-instagram__icon" width="34" height="34">
                <use href="./images//sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__branch">
      <img class="footer__branch-img" src="/src/images/header-hero/branch.png" alt="Christmas tree branch">
      <img class="footer__branch-img--second" src="/src/images/header-hero/branch.png" alt="Christmas tree branch">
      <img class="footer__branch-img--third" src="/src/images/header-hero/branch.png" alt="Christmas tree branch">
    </div>
    
    <hr class="footer__line" />
    <h4 class="footer__rights">&#169; 2024 - Maximum. Всі права захищені.</h4>
  </div>
  
</footer>
