<div class="backdrop is-hidden" data-modal id="product-instagram">
    <div class="modal product-modal">
        <button class="modal__close" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title">Instagram</h3>
        <img class="product-modal__img" 
            src="./images/brends/Instagram_logo_2022.png" 
            alt="chocololatea_ice_cream">
 
        <h4 class="product-modal__subtitle">Список цін</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Підписники</dt>
            <dd class="ingredients__value">40грн = 100шт</dd>
            <dt class="ingredients__compound">Лайки</dt>
            <dd class="ingredients__value">15грн = 100шт</dd>
            <dt class="ingredients__compound">Коментарі</dt>
            <dd class="ingredients__value">20грн = 10шт</dd>
            <dt class="ingredients__compound">Сторіс</dt>
            <dd class="ingredients__value">100грн = 5000шт</dd>
            <dt class="ingredients__compound">Голосування</dt>
            <dd class="ingredients__value">550грн = 100шт</dd>
        </dl>
        <h4>Для замовлення послуг оберіть зручну для вас соціальну мережу</h4>
        <ul class="product-modal__list">
            <li class="join__item">
                <a
                  class="join__link"
                  href="https://t.me/maksdoboni"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join__icon" width="34" height="34">
                    <use href="./images/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="join-instagram__item">
                <a
                  class="join-instagram__link"
                  href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join-instagram__icon" width="34" height="34">
                    <use href="./images//sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
        </ul>
       
    </div>
</div>

<div class="backdrop is-hidden" data-modal id="product-tik-tok">
    <div class="modal product-modal">
        <button class="modal__close" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title">Tik Tok</h3>
        <img class="product-modal__img" 
            src="./images/brends/Tiktok_logo_text.png" 
            alt="chocololatea_ice_cream">
 
        <h4 class="product-modal__subtitle">Список цін</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Підписники</dt>
            <dd class="ingredients__value">45грн = 100шт</dd>
            <dt class="ingredients__compound">Лайки</dt>
            <dd class="ingredients__value">40грн = 100шт</dd>
            <dt class="ingredients__compound">Перегляди</dt>
            <dd class="ingredients__value">35грн = 1000шт</dd>
            <dt class="ingredients__compound">Репост</dt>
            <dd class="ingredients__value">25грн = 50шт</dd>
            <dt class="ingredients__compound">Коментарі(смайли)</dt>
            <dd class="ingredients__value">20грн = 10шт</dd>
            <dt class="ingredients__compound">Збереження відео</dt>
            <dd class="ingredients__value">30грн = 100шт</dd>
        </dl>
        <h4>Для замовлення послуг оберіть зручну для вас соціальну мережу</h4>
        <ul class="product-modal__list">
            <li class="join__item">
                <a
                  class="join__link"
                  href="https://t.me/maksdoboni"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join__icon" width="34" height="34">
                    <use href="./images/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="join-instagram__item">
                <a
                  class="join-instagram__link"
                  href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join-instagram__icon" width="34" height="34">
                    <use href="./images//sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
        </ul>
       
    </div>
</div>

<div class="backdrop is-hidden" data-modal id="product-facebook">
    <div class="modal product-modal">
        <button class="modal__close" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title">Facebook</h3>
        <img class="product-modal__img" 
            src="./images/brends/2021_Facebook_icon.png" 
            alt="chocololatea_ice_cream">
 
        <h4 class="product-modal__subtitle">Список цін</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Лайки на пости </dt>
            <dd class="ingredients__value">90грн = 100шт</dd>
            <dt class="ingredients__compound">Заявки в друзі </dt>
            <dd class="ingredients__value">55грн = 100шт</dd>
            <dt class="ingredients__compound">Коментарі</dt>
            <dd class="ingredients__value">315грн = 10шт</dd>
            <dt class="ingredients__compound">Вступ в груп (заявки) </dt>
            <dd class="ingredients__value">265грн = 500шт</dd>
        </dl>
        <h4>Для замовлення послуг оберіть зручну для вас соціальну мережу</h4>
        <ul class="product-modal__list">
            <li class="join__item">
                <a
                  class="join__link"
                  href="https://t.me/maksdoboni"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join__icon" width="34" height="34">
                    <use href="./images/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="join-instagram__item">
                <a
                  class="join-instagram__link"
                  href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join-instagram__icon" width="34" height="34">
                    <use href="./images//sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
        </ul>
       
    </div>
</div>

<div class="backdrop is-hidden" data-modal id="product-youtube">
    <div class="modal product-modal">
        <button class="modal__close" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title">YouTube</h3>
        <img class="product-modal__img" 
            src="./images/brends/YouTube_Logo_2017.png" 
            alt="chocololatea_ice_cream">
 
        <h4 class="product-modal__subtitle">Список цін</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Підписники</dt>
            <dd class="ingredients__value">175грн = 100шт</dd>
            <dt class="ingredients__compound">Лайки</dt>
            <dd class="ingredients__value">40грн = 100шт</dd>
            <dt class="ingredients__compound">Лайки на коментарі </dt>
            <dd class="ingredients__value">65грн = 100шт</dd>
            <dt class="ingredients__compound">Перегляди</dt>
            <dd class="ingredients__value">215грн = 1000шт</dd>
            <dt class="ingredients__compound">Дизлайки</dt>
            <dd class="ingredients__value">75грн = 100шт</dd>
            <dt class="ingredients__compound">Коментарі</dt>
            <dd class="ingredients__value">105грн = 10шт</dd>
        </dl>
        <h4>Для замовлення послуг оберіть зручну для вас соціальну мережу</h4>
        <ul class="product-modal__list">
            <li class="join__item">
                <a
                  class="join__link"
                  href="https://t.me/maksdoboni"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join__icon" width="34" height="34">
                    <use href="./images/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="join-instagram__item">
                <a
                  class="join-instagram__link"
                  href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join-instagram__icon" width="34" height="34">
                    <use href="./images//sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
        </ul>
       
    </div>
</div>

<div class="backdrop is-hidden" data-modal id="product-telegram">
    <div class="modal product-modal">
        <button class="modal__close" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title">Telegram</h3>
        <img class="product-modal__img" 
            src="./images/brends/Telegram_2019_Logo.png" 
            alt="chocololatea_ice_cream">
 
        <h4 class="product-modal__subtitle">Список цін</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Підписники</dt>
            <dd class="ingredients__value">40грн = 100шт</dd>
            <dt class="ingredients__compound">Голосування, опитування (кнопки) </dt>
            <dd class="ingredients__value">60грн = 100шт</dd>
            <dt class="ingredients__compound">Перегляди на 1 пост </dt>
            <dd class="ingredients__value">15грн = 100шт</dd>
            <dt class="ingredients__compound">Перегляди останніх 5 постів </dt>
            <dd class="ingredients__value">40грн = 100шт</dd>
            <dt class="ingredients__compound">Перегляди на останні 10 постів </dt>
            <dd class="ingredients__value">40грн = 100шт</dd>
            <dt class="ingredients__compound">Перегляди на останні 20 постів   </dt>
            <dd class="ingredients__value">40грн = 100шт</dd>
            <dt class="ingredients__compound">Розсилка повідомлень </dt>
            <dd class="ingredients__value">4 500грн = 5000шт</dd>
        </dl>
        <h4>Для замовлення послуг оберіть зручну для вас соціальну мережу</h4>
        <ul class="product-modal__list">
            <li class="join__item">
                <a
                  class="join__link"
                  href="https://t.me/maksdoboni"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join__icon" width="34" height="34">
                    <use href="./images/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="join-instagram__item">
                <a
                  class="join-instagram__link"
                  href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join-instagram__icon" width="34" height="34">
                    <use href="./images//sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
        </ul>
       
    </div>
</div>

<div class="backdrop is-hidden" data-modal id="product-others">
    <div class="modal product-modal">
        <button class="modal__close" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title">Інше</h3>
        <img class="product-modal__img" 
            src="./images/brends/web-pages.png" 
            alt="chocololatea_ice_cream">
 
        <h4 class="product-modal__subtitle">Список цін</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Відвідувачі на сайт (вибір країни) </dt>
            <dd class="ingredients__value">100грн = 1000шт</dd>
            <dt class="ingredients__compound">Відвідувачі СНГ </dt>
            <dd class="ingredients__value">90грн = 1000шт</dd>
            <dt class="ingredients__compound">Трафік з будь-якого сайта </dt>
            <dd class="ingredients__value">85грн = 1000шт</dd>
        </dl>
        <h4>Для замовлення послуг оберіть зручну для вас соціальну мережу</h4>
        <ul class="product-modal__list">
            <li class="join__item">
                <a
                  class="join__link"
                  href="https://t.me/maksdoboni"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join__icon" width="34" height="34">
                    <use href="./images/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="join-instagram__item">
                <a
                  class="join-instagram__link"
                  href="https://instagram.com/maks_doboni?igshid=NzZlODBkYWE4Ng=="
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="join-instagram__icon" width="34" height="34">
                    <use href="./images//sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
        </ul>
       
    </div>
</div>