<section class="products" id="products">
  <div class="container">
    <strong class="products__label">100% natural</strong>
    <h2 class="products__title">products</h2>
    <ul class="card">
      <li class="card__set">
        <h3 class="card__title">instagram</h3>
        <p class="card__text">
          Соціальна мережа, що базується на обміні світлинами, дозволяє користувачам робити світлини, застосовувати до них 
          фільтри, а також поширювати їх через свій сервіс і низку інших соціальних мереж
        </p>
        <button data-modal-open="product-icecream" class="more" type="button">
          <svg class="card__img" width="40" height="16">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="card__set card__set--second">
        <h3 class="card__title">tik tok</h3>
        <p class="card__text">
          Китайський соцмедійний застосунок для створення та поширення відеофайлів 
          та онлайн-трансляцій. Сервіс запущено у вересні 2016 китайською компанією ByteDance
        </p>
        <button data-modal-open="product-icecoffee" class="more" type="button">
          <svg class="card__img" width="40" height="16">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="card__set card__set--fifth">
        <h3 class="card__title">Facebook</h3>
        <p class="card__text">
          Найбільша соціальна мережа, що почала працювати 4 лютого 2004 року як мережа для студентів деяких американських університетів.
           Facebook належить корпорації Meta Platforms. Засновником та головою сервісу є Марк Цукерберг. 
        </p>
        <button data-modal-open="product-icecream" class="more" type="button">
          <svg class="card__img" width="40" height="16">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="card__set card__set--third">
        <h3 class="card__title">youtube</h3>
        <p class="card__text">
          Популярний відеохостинг, що надає послуги розміщення відеоматеріалів. Заснований 14 лютого 2005 року трьома
           працівниками PayPal: Чадом Герлі, Стівеном Чені та Джаведом Карімом. Зараз є підрозділом компанії Google. 
        </p>
        <button data-modal-open="product-milkshakes" class="more" type="button">
          <svg class="card__img" width="40" height="16">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="card__set card__set--fourth">
        <h3 class="card__title">telegram</h3>
        <p class="card__text">
          Багатоплатформовий месенджер, що також надає опціональні наскрізні 
          зашифровані чати (більш відомі як «секретні чати») та відеодзвінки, VoIP, обмін файлами та деякі інші функції. 
        </p>
        <button data-modal-open="product-icecream" class="more" type="button">
          <svg class="card__img" width="40" height="16">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
     
      <li class="card__set card__set--sixth">
        <h3 class="card__title">Інше</h3>
        <p class="card__text">
          А також ми надаємо свої послуги в багатьох інших додатках
        </p>
        <button data-modal-open="product-icecream" class="more" type="button">
          <svg class="card__img" width="40" height="16">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
